{% extends 'menu.html' %}
{% block conteudo %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adote Refeições</title>
    {% load static %}
    <link href="{% static '../static/css/editar_user.css' %}" rel="stylesheet">
</head>

<body>
	<div class="geral">
		<form action="/exec_editar_user/" id="userForm" method="post">
            {% csrf_token %}
            <h2>Editar usuário</h2>
            
            <input style="display: none;" name="chave" value="{{ dados.chave }}"></input>

            <label for="tipo_acesso">Tipo de conta: <span style="color: red;">*</span></label>
            <input type="text" id="tipo_acesso_original" style="color: black; background-color: rgb(224, 224, 224);" name="tipo_acesso_original" value="{{ dados.tipo_acesso }}" readonly>
            <select name="tipo_acesso">    
            <option value="colaborador">Colaborador</option>
            <option value="admin">Admininistrador</option>
            </select>
        </input>

            <label for="matricula">Matrícula (login): <span style="color: red;"></span></label>
            <input style="background-color: #ffffff; border-color: black; color: black;" maxlength="7" type="text" id="matricula" name="matricula" value="{{ dados.matricula }}" required oninput="this.value = this.value.replace(/[^0-9]/g, '');">

            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" maxlength="11" value="{{ dados.cpf }}" oninput="this.value=this.value.replace(/\D/g,'');" required>
            
            <label for="nome">Nome: <span style="color: red;">*</span></label>
            <input style="background-color: white;" type="text" id="nome" name="nome" value="{{ dados.nome }}" required>

            <label for="senha">Senha: <span style="color: red;">*</span></label>
            <input style="background-color: white;" type="text" id="senha" name="senha" value="{{ dados.senha }}">

            <!-- <label for="idrest">ID e Restaurante: <span style="color: red;">*</span></label>
            <input style="background-color: white;" type="text" id="idrest" name="idrest" required> -->
            
            <label for="centroCusto">Centro de custo: <span style="color: red;">*</span></label>
            <select id="centroCusto" style="color: black; background-color: white;" name="centroCusto" value="{{ dados.centroCusto }}" required>
                <option value="Remodelação">Remodelação</option>
                <option value="Manutenção">Manutenção</option>
                <option value="VLI">VLI</option>
                <option value="COFCO">COFCO</option>
            </select>
            
            <label for="status">Status da conta: <span style="color: red;">*</span></label>
            <select id="status" style="color: black; background-color: white;" name="status" value="{{ dados.status }}" required>
                <option value="Ativo">Ativado</option>
                <option value="Desativo">Desativado</option>
            </select>
            <div style="display: flex; justify-content: center; align-items: center;">
                <!-- <a href="/gerenciar_user/"> -->
                    <button type="submit">Alterar</button>
                <!-- </a> -->
                <a class="botao-voltar" href="/gerenciar_user/">
                    Voltar
                </a>
            </div>
        </form>
	</div>
</body>
</html>
{% endblock %}