<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Adote Refeições</title>
{% load static %}

<link href="{% static '../static/css/login.css' %}" rel="stylesheet">

</head>

<div>
<body>
<div class="login-container" >
<form action="{% url 'login' %}" method="post">
  {% csrf_token %}
  <div class="img-svg">
    <img src="{% static 'a.svg' %}" alt="a">
    <span>Adote Refeições</span>
  </div>
  <input type="text" class="dados-input" name="matricula" placeholder="Matricula" maxlength="7" required oninput="this.value = this.value.replace(/[^0-9]/g, '');">
  <input type="password" class="dados-input" name="senha" placeholder="Senha">
  <div class="login-button-container">
    <!-- <button class="login-button" onclick="window.location.href='/produtos/'">Entrar</button> -->
    <button class="login-button" style="margin-bottom: 20px;">Entrar</button>
</div>
<h7 style="color: red; font-size: 12px;">
    Credenciais Incorretas. Verifique sua MATRICULA e SENHA.
</h7>
</form>
</div>
</body>
<div style="align-content: center; text-align: center; color: rgb(0, 0, 0);">
  <br>
    <p style="color: rgb(165, 164, 164); font-size: 10px; color: rgb(0, 0, 0);">&copy; 2023 Desenvolvido por: Pycraft Studio<br> Todos os direitos reservados.</p>
    <p style="color: rgb(165, 164, 164); font-size: 11px; color: rgb(0, 0, 0);" >Suporte<br> Geovanne: (11) 95284-2140</p>
</div>
</div>
</html>