@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	min-height: 100vh;
	background: #150019;
}


.hover-li{
    background-color: #000000;
}


.hover-li:hover{
    background-color: #000000 !important;
}

.img-svg{
	margin-top: 80px;
	width: 40px;
	height: 40px;
	margin-top: 60px;
	margin-left: 10px;
}

.img-svg:hover{
	background-color: black !important;
	background: black !important;
	margin-top: 60px;
	width: 40px;
	height: 40px;
	margin-top: 60px;
	margin-left: 10px;
}

/* Estilos para a barra de navegação */
.navigation
{
	position: fixed;
	width: 60px;
	height: 100%;
	background: black;
	transition: 0.5s ease-in-out;
	overflow: hidden;
	overflow-y: auto;
	padding: 20px;
    left: 0;
}
.navigation.active,
.navigation:hover
{
	width: 300px;
}
.navigation ul
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
}
.navigation ul li
{
	position: relative;
	width: 100%;
	list-style: none;
}
.navigation ul li:hover
{
	background: #acabab;
}
.navigation ul li a
{
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.navigation ul li .icon
{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.navigation ul li .icon .fa
{
	font-size: 24px;
}
.navigation ul li .title
{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}

.toggle
{
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background: black;
	cursor: pointer;
}
.toggle:hover
{
	background: #acabab;
}
.toggle:before
{
	content: '\f0c9';
	font-family: fontAwesome;
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 60px;
	text-align: center;
	font-size: 24px;
	color: #ffffff;
}
.toggle.active:before
{
	content: '\f00d';
	background: #acabab;
}

@media (max-width: 767px)
{
	.navigation
	{
		left: -60px;
	}
	.navigation.active
	{
		left: 0px;
		width: 100%;
	}
}

.rodape {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
}

.footer-servicos a {
	background: rgb(195, 195, 195);
	display: block;
	color: black;
	text-decoration: none;
	text-align: center;
	padding: 25px;
	font-size: 15px;
	}
	
	.footer-servicos a {
	background: rgb(62, 0, 160);
	display: block;
	color: var(--color-white);
	text-decoration: none;
	text-align: center;
	padding: 25px;
	font-size: 15px;
	}
	
	.footer-servicos a:hover {
	background: rgb(109, 21, 251);
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 25px;
	font-size: 15px;
	transition: 0.5s;
	}
	
	.main-footer {
		height: 60px;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #000b05;
		color: white;
	}
	
	.texto-rodape {
	text-align: center;
	}
