body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
	min-height: 100vh;
	background: white;
}

.geral {
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.679);
    border: 0.1px solid rgba(128, 128, 128, 0.292);
    padding: 20px;
    max-width: 1200px; /* Largura máxima de 600px */
    width: 100%;
    overflow-x: auto;
    word-wrap: break-word; /* Permitir quebra de linha */
    /* margin: 0 40; */
}

.filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    /* margin: 0 0px; */
}

.linha-superior,
.linha-inferior {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    /* margin-bottom: 10px; */
}

.filtro-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

/* Ajuste os estilos conforme necessário */


/* Estilo para tabela */
table {
    /* margin-left: 20px; */
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-height: 1000px;
    overflow-y: auto;
    margin-bottom: 20px;
    /* margin-right: 20px; */
}
/* Estilo para cabeçalho de tabela */
th {
    background-color: black;

}

th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    color: rgb(255, 255, 255);
}

/* Estilo para células de tabela */
td {
    border: 1px solid #030303;
    text-align: center;
    padding: 8px;
    color: rgb(0, 0, 0);
}

/* Estilo de fundo alternado para linhas */
tr:nth-child(even) {
    background-color: #acabab9c;
    color: rgb(255, 255, 255);
}

/* Estilo para cabeçalho de tabela */
th {
    background-color: #000000;
    color: white;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

/* Estilos para o formulário */
label {
    color: white;
    font-size: 16px;
    margin-bottom: 8px;
}

input[type="text"],
select {
    width: 30px;
    height: 40px;
    width: 100%;
    padding: 10px;
    /* margin-bottom: 20px; */
    border: 1px solid rgba(0, 0, 0, 0.623);
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.733);
}

input[type="checkbox"] {
    margin-left: 5px;
}

button {
    /* margin-left: 30px; */
    height: 50px;
    /* margin-left: 170px; */
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
    box-shadow: 2px 4px 8px #acabab;
    transition: background-color 0.3s;
  }
  
  button:hover {
      background-color: #4d4d4d;
  }



/* .img-svg{
	margin-top: 80px;
	width: 40px;
	height: 40px;
	margin-top: 60px;
	margin-left: 10px;
}

.img-svg:hover{
	background-color: black;
	background: black;
	margin-top: 60px;
	width: 40px;
	height: 40px;
	margin-top: 60px;
	margin-left: 10px;
}

.navigation
{
	position: fixed;
	width: 60px;
	height: 100%;
	background: black;
	transition: 0.5s ease-in-out;
	overflow: hidden;
	overflow-y: auto;
	padding: 20px;
    left: 0;
}
.navigation.active,
.navigation:hover
{
	width: 300px;
}
.navigation ul
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
}
.navigation ul li
{
	position: relative;
	width: 100%;
	list-style: none;
}
.navigation ul li:hover
{
	background: #acabab;
}
.navigation ul li a
{
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.navigation ul li .icon
{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.navigation ul li .icon .fa
{
	font-size: 24px;
}
.navigation ul li .title
{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}

.toggle
{
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background: black;
	cursor: pointer;
}
.toggle:hover
{
	background: #acabab;
}
.toggle:before
{
	content: '\f0c9';
	font-family: fontAwesome;
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 60px;
	text-align: center;
	font-size: 24px;
	color: #ffffff;
}
.toggle.active:before
{
	content: '\f00d';
	background: #acabab;
} */